<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Destination</title>
</head>
<body>
    <h1>{{trip.destination}}</h1>
    <p>Planned By: {{trip.added_by.name}}</p>
    <p>Description: {{trip.description}}</p>
    <p>Travel Date From: {{trip.travelStartDate}}</p>
    <p>Travel Date To: {{trip.travelEndDate}}</p>
    
    <h3>Other users joining the trip:</h3>
        {% for traveler in trip.travelers.all %}   
        <p>{{traveler.name}}</p>
        {% endfor %}
    <a href="/travels">Home</a>
    <a href="/logout">Logout</a>
    
</body>
</html>